.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

button.next {
    min-width: 14rem;
    min-height: 3.5rem;
    background-color: #ddd;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin: 20px;
    cursor: pointer;
    border-radius: 30px;
    font-size: 1.2rem;
    background: linear-gradient(to right, #E0BFB0 0%, #AE9780 100%);
}